<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
    <li style="color: red">    
    <%= e %>
    </li>
    <% end %>
<% end %>

<%= form_for @student do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :major %>
    <%= f.text_field :major %>
    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.collection_select :teacher_id, @teachers, :id, :name %>
    <%= f.submit %>
<% end %>